/* Reset CSS Básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1b85cc;
  color: #333;
}

.navbar {
  height: 20dvh;
  background-color: #1300c2;
  display: flex;
  color: #ffffff;
  padding: 1rem;
}

.navbar-escrito{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar span{
  color: #fceb00;
  display: block;
  align-items: center;
}
.titulo {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-inline-start: 2rem;
}

.titulo span {
  color: #fceb00;
  align-self: center;
  font-size: 1.5rem;
}

.links {
  display: flex;
  gap: 1rem;
  margin-inline-end: 2rem;
}

.home {
  color: #fff;
  display: flex;
  text-decoration: none;
  margin-right: 1rem;
  align-items: center;

}

.create {
  color: #fff;
  display: flex;
  text-decoration: none;
  align-items: center;
}

.text-main {
  color: #fff;
  margin-left: 10rem;
  margin-top: 2.5rem;
  display: flex;
  text-decoration: none;
}


.produtos-preview {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  padding: 1rem;
  margin: 1rem 10rem;
  border-radius: 4px;
}

.produtos-preview a{
  text-decoration: none;
}

.imagens {
  margin-bottom: 0.5rem;
  width: 40%;
}

h2 {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.produtos-preview p {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-self: start;
}

.titulo-pag {
  font-size: 2rem;
  margin-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* Estilo do Loading da pagina*/

.notch-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.loading-notch {
  animation: spin 0.5s forwards infinite linear;
  font-size: 2rem;
  color: #fff;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*Mensagem de erro*/

.erro-card {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.erro-msg {
  background-color: #fff;
  padding: 1rem;
  color: red;
  width: 35rem;
  border-radius: 0.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.descricao{
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skeleton{
  background: linear-gradient(90deg, #f3f3f3, #6d6d6d); 
  background-size: 200%;
  animation:  skeleton 1s infinite reverse;
  opacity: 0.7;
}

.skeleton-text{
  height: 0.5rem;
  width: 80%;
  border-radius: 0.125rem;
  margin-bottom: 0.25rem;
}

.skeleton-text:nth-child(4n + 1){
  width: 98%;
}

.skeleton-text:nth-child(3n + 1){
  width: 95%;
}

.skeleton-text:last-child{
 margin-bottom: 0;
  width: 85%;
}

@keyframes skeleton {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
